{% include base_path %}

<div class="publications">
  {% assign sorted_pubs = site.data.publications | sort: "year" | reverse %}
  
  <!-- Publications Section - Flat List -->
  <h2 class="section-title">Publications</h2>
  <ul class="papers">
    {% for pub in sorted_pubs %}
      <li class="paper">
        <div class="paper-title">{{ pub.title }}</div>
        <div class="paper-authors">{{ pub.authors }}</div>
        <div class="paper-venue">{% if pub.venue != "" %}<em>{{ pub.venue }}</em>, {% endif %}{{ pub.year }}</div>
        
        <div class="paper-links">
          {% if pub.pdf != "" %}
            <a href="{{ pub.pdf }}" class="paper-link" target="_blank">[PDF]</a>
          {% endif %}
          
          {% for link in pub.links %}
            <a href="{{ link.url }}" class="paper-link" target="_blank">[{{ link.text }}]</a>
          {% endfor %}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<style>
  .publications {
    margin-bottom: 2em;
  }
  
  .publications h2.section-title {
    border-bottom: 1px solid #eee;
    margin-top: 1.5em;
    padding-bottom: 0.3em;
  }
  
  .publications ul.papers {
    list-style-type: none;
    padding-left: 0;
  }
  
  .publications li.paper {
    margin-bottom: 1.5em;
  }
  
  .publications .paper-title {
    font-weight: bold;
  }
  
  .publications .paper-authors {
    margin: 0.25em 0;
  }
  
  .publications .paper-venue {
    margin-bottom: 0.25em;
  }
  
  .publications .paper-links {
    margin-top: 0.25em;
  }
  
  .publications .paper-link {
    margin-right: 0.5em;
  }
</style>